@model ChatApp.Models.ChatAppModel

@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Chat";
}

@{

    var userName = Context.Session.GetString("userName");
    if (userName == null)
    {
        Context.Response.Redirect("/ChatAppModels/Login");

    }
    var userNameToWho = Html.DisplayFor(model => model.korisnik_korisnicko_ime);
}

<h3>Ćaskanje sa <label id="userNameToWho">@userNameToWho</label></h3>
<hr />

<div class="container">
    <form asp-action="Chat">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="row">
                
                <div class="col-2"><label id="userName" > @userName</label></div>
                
            </div>
        </div>
        <div class="row">
            <div class="col-2">Poruka</div>
            <div class="col-4"><input type="text" id="messageInput" /></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">
                <!--id od buttona promenjen na novu, ajde da probam kao da imam jedan model i da saljem poruku u korisnik_ime-->
                
                <input type="button" id="sendButton" value="Pošaljite poruku" />
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>