@model IEnumerable<ChatApp.Models.ChatAppModel>
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Lista";
}

@{

    var userName = Context.Session.GetString("userName");
    if (userName == null)
    {
        Context.Response.Redirect("/ChatAppModels/Login");

    }
}

<h1>Registrovani korisnici: </h1>

<hr />
<table class="table">
    <thead>
        <tr>
            Korisničko ime:

            <th></th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var item in Model)
        {
        <tr>
            @if (item.korisnik_korisnicko_ime != userName)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.korisnik_korisnicko_ime)
                </td>
                <td>
                <a asp-controller="Chatovanje" asp-action="Chat" asp-route-id="@item.korisnikID">Započnite ćaskanje</a>
                    
            </td>
            }


            
        </tr>
        }
    </tbody>
</table>
