@model ChatApp.Models.ChatAppModel

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<h4>ChatAppModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login" asp-controller="ChatAppModels" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="korisnik_korisnicko_ime" class="control-label">Korisničko ime:</label>
                <input asp-for="korisnik_korisnicko_ime" type="text" class="form-control" />
                <span asp-validation-for="korisnik_korisnicko_ime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="korisnik_sifra" class="control-label">Lozinka:</label>
                <input asp-for="korisnik_sifra" type="password" class="form-control" />
                <span asp-validation-for="korisnik_sifra" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}